* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



:root {

    --backgContent: rgb(0, 0, 0);
    --backgLi: rgb(0, 0, 0);
    --backgSpan: #cc0000;
    --backgLiHover: #cc0000;

    --colorContent: rgb(255, 255, 255);
    --colorTitle: rgb(255, 255, 255);
    --colorLi: rgb(255, 255, 255);

    --borderContent: solid 1px rgb(255, 255, 255);
    --borderLi: solid 1px rgb(255, 255, 255);
    --borderLiHover: solid 1px black;

    --textShadowH1: 5px -1px 0px #000000;

    --boxShadowLiHover: rgb(0, 0, 0) 0px 20px 30px -10px;

    --transformLiHover: translateY(-5px) scale(1.02);

}



body {
    font-size: 18px;
    background-image: url('./src/img/logo_lojas_mendocas.png.jpg');
    object-fit: cover;
    background-position: center;

    & main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(90px);

        & header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 50px;
            padding-top: 6rem;

            & h1 {
                color: var(--colorTitle);
                text-transform: uppercase;
                text-shadow: var(--textShadowH1);
            }

            & .img-box {

                & img {
                    border-radius: 50%;
                    width: 110px;
                    animation: logoMovie 5.1s ease-in-out infinite;
                }
            }

            & .content {
                text-align: center;
                border: var(--borderContent);
                border-radius: 10px;
                padding: 1rem 4rem;
                margin-top: 20px;
                background-color: var(--backgContent);
                color: var(--colorContent);

                & span {
                    padding: 2px;
                    border-radius: 5px;
                    background-color: var(--backgSpan);
                    text-transform: uppercase;
                }

            }
        }


        & section {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            & .list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 1.5rem;
                width: 100%;
                padding: 2rem;

                & .card-link {
                    text-decoration: none;

                    & .card {
                        overflow: hidden;
                        border: solid 1px rgb(255, 255, 255);
                        border-radius: 10px;
                        height: 100%;
                        width: 100%;
                        cursor: pointer;
                        transition: 0.5s ease;

                        & img {
                            width: 300px;
                            height: 160px;
                            transition: 0.5s ease;

                            &:hover {
                                transform: scale(1.05);
                            }
                        }

                        & .description {
                            position: relative;
                            bottom: 5px;
                            height: 100%;
                            padding: 5px;
                            background-color: #000000;
                            color: #ffffff;
                        }

                        &:hover {
                            transform: translateY(-7px) scale(1.05);
                            box-shadow: rgba(0, 0, 0, 0.575) 0px 2px 1px, rgba(0, 0, 0, 0.507) 0px 4px 2px, rgba(0, 0, 0, 0.507) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                        }
                    }
                }
            }
        }


        & .icon-centro {
            position: absolute;
            bottom: 140px;
            left: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            cursor: pointer;
            transition: 0.5s ease;

            & img {
                width: 40px;
                transition: 0.5s ease;

                &:hover {
                    transform: translateY(-2px) scale(1.1);
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 1px, rgba(0, 0, 0, 0.05) 0px 4px 2px, rgba(0, 0, 0, 0.507) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                }
            }

            &:hover {
                transform: translateY(-5px) scale(1.1);
            }
        }


        & footer {
            position: relative;
            top: 90px;
            bottom: 0;
            width: 100%;
            height: 200px;
            padding-top: 40px;
            display: flex;
            justify-content: center;
            gap: 30px;
            background-color: #000000;

            & .copyright {
                position: absolute;
                bottom: 40px;

                & p {
                    color: #ffffff;
                }
            }

            & i {
                color: rgb(255, 255, 255);
                font-size: 30px;
                transition: 0.5s ease;
                cursor: pointer;

                &:hover {
                    transform: translateY(-5px) scale(1.1);
                }
            }

            & i:nth-child(1) {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                border-radius: 15px;
                background: linear-gradient(45deg, #833AB4, #FD1D1D, #FCAF45);

            }

            & i:nth-child(2) {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                border-radius: 15px;
                color: #002cbe;
                background-color: #ffffff;
                border-radius: 15px;
            }

            & i:nth-child(3) {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                border-radius: 15px;
                color: #d70000;
                background-color: #ffffff;
                border-radius: 15px;
            }
        }
    }
}


@media only screen and (max-width: 720px) {
    body {

        & main {

            & section {
                position: relative;
                z-index: 1;
                top: 30px;

                & .list {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                    & .card {
                        margin: 0 auto;


                        & img {
                            object-fit: cover;
                        }

                        & .description {

                            & p {
                                font-size: 23px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            & .icon-centro {
                position: absolute;
                bottom: 130px;
            }
        }
    }
}


@keyframes logoMovie {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px) scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(11, 11, 11, 0.418) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
}