* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --backgContent: rgb(0, 0, 0);
  --backgLi: rgb(0, 0, 0);
  --backgSpan: #cc0000;
  --backgLiHover: #cc0000;
  --colorContent: rgb(255, 255, 255);
  --colorTitle: rgb(255, 255, 255);
  --colorLi: rgb(255, 255, 255);
  --borderContent: solid 1px rgb(255, 255, 255);
  --borderLi: solid 1px rgb(255, 255, 255);
  --borderLiHover: solid 1px black;
  --textShadowH1: 5px -1px 0px #000000;
  --boxShadowLiHover: rgb(0, 0, 0) 0px 20px 30px -10px;
  --transformLiHover: translateY(-5px) scale(1.02);
}

body {
  font-size: 18px;
  background-image: url("./src/img/logo_lojas_mendocas.png.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}
body main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: blur(90px);
          backdrop-filter: blur(90px);
}
body main header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 6rem;
}
body main header h1 {
  color: var(--colorTitle);
  text-transform: uppercase;
  text-shadow: var(--textShadowH1);
}
body main header .img-box img {
  border-radius: 50%;
  width: 150px;
  animation: logoMovie 5.1s ease-in-out infinite;
}
body main header .content {
  text-align: center;
  border: var(--borderContent);
  border-radius: 10px;
  padding: 1rem 4rem;
  margin-top: 20px;
  background-color: var(--backgContent);
  color: var(--colorContent);
}
body main header .content span {
  padding: 2px;
  border-radius: 5px;
  background-color: var(--backgSpan);
  text-transform: uppercase;
}
body main section {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
body main section .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}
body main section .list .card {
  overflow: hidden;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
body main section .list .card img {
  width: 300px;
  height: 160px;
  transition: 0.5s ease;
}
body main section .list .card img:hover {
  transform: scale(1.05);
}
body main section .list .card .description {
  position: relative;
  bottom: 5px;
  height: 100%;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
}
body main section .list .card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.575) 0px 2px 1px, rgba(0, 0, 0, 0.507) 0px 4px 2px, rgba(0, 0, 0, 0.507) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
body main .icon-centro {
  position: absolute;
  bottom: 140px;
  left: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
  transition: 0.5s ease;
}
body main .icon-centro img {
  width: 40px;
  transition: 0.5s ease;
}
body main .icon-centro img:hover {
  transform: translateY(-2px) scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 1px, rgba(0, 0, 0, 0.05) 0px 4px 2px, rgba(0, 0, 0, 0.507) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
body main .icon-centro:hover {
  transform: translateY(-5px) scale(1.1);
}
body main footer {
  position: relative;
  top: 90px;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #000000;
}
body main footer .copyright {
  position: absolute;
  bottom: 20px;
}
body main footer .copyright p {
  color: #ffffff;
}
body main footer i {
  color: rgb(255, 255, 255);
  font-size: 40px;
  transition: 0.5s ease;
  cursor: pointer;
}
body main footer i:hover {
  transform: translateY(-5px) scale(1.1);
}
body main footer i:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background: linear-gradient(45deg, #833AB4, #FD1D1D, #FCAF45);
}
body main footer i:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  color: #002cbe;
  background-color: #ffffff;
  border-radius: 15px;
}
body main footer i:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  color: #d70000;
  background-color: #ffffff;
  border-radius: 15px;
}

@media only screen and (max-width: 720px) {
  body section {
    position: relative;
    z-index: 1;
    top: 30px;
  }
  body section .list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  body section .list .card {
    width: 270px;
    margin: 0 auto;
  }
  body section .list .card img {
    width: 300px;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body section .list .card.opacity {
    opacity: 0;
  }
}
@keyframes logoMovie {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px) scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(11, 11, 11, 0.418) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}/*# sourceMappingURL=styles.css.map */