* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 30px;
    background-image: url(../img/logo_lojas_mendocas.png.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(50px);

    & main {
        width: 450px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        & header {
            border: solid 1px;
            width: 100%;
            height: 200px;
            position: relative;
            text-align: center;
            border-radius: 10px;

            & .banner{
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            & .logo{
                width: 90px;
                border-radius: 50%;
                position: absolute;
                z-index: 2;
                top: 75%;
                left: 40%;
            }

            & .title {
                position: relative;
                top: 20%;

                & h2 {
                    text-transform: uppercase;
                    color: rgb(255, 255, 255);
                    text-shadow: 4px -1px 0px #000000;;
                }

            }
        }


        & section {
            display: flex;
            flex-direction: column;
            gap: 15px;
            position: relative;
            top: 4.5rem;
            /*border: solid 1px;*/
            width: 100%;
            height: 100px;
            padding: 20px;

            & button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;
                font-size: 18px;
                font-weight: bold;
                position: relative;
                padding: 15px;
                border-radius: 10px;
                border: none;
                border: solid 1px white;
                background-color: #000000;
                color: white;
                cursor: pointer;
                transition: 0.5s ease;

                & img {
                    position: absolute;
                    left: 10px;
                    width: 40px;
                    transition: 0.5s ease;
                    
                }

                &:hover {
                    transform: translateY(-5px) scale(1.01);
                    box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px;
                }

                &:hover img {
                    transform: scale(1.2);
                }
            }
        }
    }
}


@media only screen and (min-width: 360px) {
    body {

        & main {
            width: 320px;

            & header {

                & .logo {
                    left: 35%;
                }
            }


            & section {
                margin-top: 2rem;

                & button {
                    font-size: 16px;

                    & img {
                        width: 30px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) {
    body {

        & main {
            width: 430px;

            & header {

                & .logo {
                    left: 40%;
                }
            }

            & section {
                margin-top: 0.5rem;
                & button {
                    font-size: 19px;

                    & img {
                        width: 40px;
                    }
                }
            }
        }
    }
}