* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html {
    scroll-behavior: smooth;
}



body {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-image: url('../img/logo_lojas_mendocas.png.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(70px);
    overflow: hidden;

    & main {
        width: 500px;
        height: 520px;
        border-radius: 10px;
        overflow: hidden;

        & header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 50px 10px 5px 10px;

            & img {
                width: 100px;
                border-radius: 50%;
            }

            & .description {
                text-align: center;
                color: white;

                & h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    text-shadow: 2px -1px 0px #000000;
                }

                p {
                    font-weight: bold;
                }
            }
        }



        & section {
            width: 100%;
            height: 100%;
            padding: 10px;

            & .card-list {
                width: 100%;
                height: 55%;
                display: grid;
                justify-content: center;
                padding: 24px;
                gap: 10px;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                overflow-y: auto;

                & .card {
                    width: 200px;
                    height: 220px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 15px;
                    flex-direction: column;
                    border-radius: 10px;
                    border: solid 1.5px;
                    background: linear-gradient(321deg, rgba(41, 41, 41, 1) 48%, rgba(0, 0, 0, 1) 100%);
                    border: solid 1px white;
                    transition: 0.5s ease;

                    & img {
                        width: 70px;
                    }

                    & .description {
                        color: white;
                        text-align: center;
                    }

                    & button {
                        position: relative;
                        top: 5px;
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        padding: 10px;
                        border-radius: 10px;
                        border: none;
                        cursor: pointer;
                        background-color: rgb(0, 128, 0);
                        color: white;
                        transition: 0.5s ease;

                        & i {
                            font-size: 19px;
                            transition: 0.5s ease;
                        }

                        &:hover {
                            background-color: rgb(0, 160, 0);
                            transform: translateY(-5px) scale(1.01);
                            box-shadow: rgba(0, 0, 0, 0.329) 0px 2px 1px, rgba(0, 0, 0, 0.329) 0px 4px 2px, rgba(0, 0, 0, 0.301) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                        }

                        &:hover i {
                            transform: translateY(-2px) scale(1.2);
                        }
                    }

                    &:hover {
                        transform: translateY(-5px) scale(1.02);
                        box-shadow: rgba(0, 0, 0, 0.459) 0px 60px 40px -7px;
                    }
                }
            }
        }
    }
}




// RESOLUÇÃO DE ESCALA PADRÃO DE CELULARES
@media only screen and (min-width: 400px) and (max-width: 450px) {
    body {

        & main {
            height: 45rem;

            & section {

                & .card-list {
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    height: 58vh;
                    width: 40vh;
                    margin: 0 auto;

                    & .card {
                        width: 100%;
                        padding: 1.4rem;
                    }
                }
            }
        }
    }
}