* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}




// ESCALA DE LAYOUT PRA PC
body {
    padding: 1rem;

    & .efeito-blur {
        position: fixed;
        inset: 0;
        background: linear-gradient(0deg, rgba(46, 46, 46, 1) 48%, rgb(255, 0, 0) 100%);
        filter: blur(40px);
        transform: scale(1.5);
        z-index: -1;
    }


    & header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 1rem;
        width: 100%;
        min-height: 100vh;

        & .box-img {
            text-align: center;

            & img {
                width: 120px;
                border-radius: 50%;
                animation: logoMovie 3.5s ease-in-out infinite;
            }
        }

        & .content {
            display: flex;
            flex-direction: column;
            align-items: center;

            & .title {
                font-size: 1.2rem;
                font-weight: bold;
                color: rgb(255, 255, 255);
            }

            & .tag {
                font-size: 1rem;
                font-weight: 500;
                color: rgb(255, 255, 255);
            }
        }

        & .arrow {

            & img {
                width: 25px;
            }
        }
    }


    & main {
        margin-bottom: 5rem;

        & .card-list {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

            & .card {
                width: 100%;
                height: 12rem;
                border-radius: 16px;
                overflow: hidden;
                border: solid 1px beige;
                transition: 0.5s ease;
                cursor: pointer;

                & .box-img {
                    width: 100%;
                    height: 7rem;

                    & img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        filter: brightness(90%);
                        transition: 0.5s ease;

                        &:hover {
                            transform: translateY(-5px) scale(1.1);
                        }
                    }
                }

                & .content {
                    height: 100%;
                    width: 100%;
                    padding: 0.5rem;
                    background: linear-gradient(321deg, rgba(41, 41, 41, 1) 48%, rgba(0, 0, 0, 1) 100%);
                    color: rgb(255, 255, 255);
                }

                &:hover {
                    transform: translateY(-5px) scale(1.05);
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
            }
        }
    }


    & footer {
        width: 70%;
        height: 100px;
        padding: 1rem;
        margin: 0 auto;
        border-radius: 30px;
        border: solid 1px rgb(255, 255, 255);
        background: linear-gradient(321deg, rgba(41, 41, 41, 1) 48%, rgba(0, 0, 0, 1) 100%);

        & .rodape {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            & .box-img {

                & img {
                    width: 35px;
                    margin: 1rem;
                    filter: brightness(90%);
                    cursor: pointer;
                    transition: 0.5s ease;

                    &:hover {
                        transform: translateY(-5px) scale(1.1);
                        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                    }
                }
            }
        }
    }
}


// ADPTAR ALGUMAS FUNCIONALIDADES NO QUELRIE 400PX, E DEPOIS APAGAR ESSE
@media only screen and (max-width: 720px) {
    body {
        padding: 0 1rem 1rem;
        overflow: hidden;

        & header {
            min-height: 31vh;
            margin: 0;
            padding: 0;

            & .box-img {
                padding: 0;
                margin-top: 15px;

                & img {
                    width: 120px;
                }
            }

            & .content {
                display: flex;
                gap: 10px;
                padding: 0;
                margin: 0;

                & .title {
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                & .tag {
                    opacity: 0.8;
                }
            }
        }

        & main {
            margin-bottom: 0.4rem;

            & .card-list {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            }
        }

        & footer {
            width: 95%;
            padding: 0;
            height: 80px;
            border: none;
            margin-top: 2rem;
            background: linear-gradient(321deg, rgba(41, 41, 41, 0.578) 48%, rgba(0, 0, 0, 0.66) 100%);

            & .rodape {

                & .box-img {

                    & img {
                        width: 40px;
                        filter: brightness(100%);
                    }
                }
            }
        }
    }
}


// RESOLUÇÃO DE ESCALA PADRÃO DE CELULARES
@media only screen and (min-width: 400px) and (max-width: 450px) {
    body {
        overflow: auto;
        overflow: hidden;

        & header {
            padding: 0;

            & .box-img {


                & img {
                    width: 109px;
                }
            }

            & .content {


                & .title {
                    font-size: 25px;
                }

                & .tag {
                    font-size: 16px;
                }
            }
        }


        & main {
            
            & .card-list {

                & .card {
                    height: 10rem;

                    & .content {
                        padding: 0.5rem;

                        & h2 {
                            font-size: 1rem;
                        }

                        & p {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }


        & footer {
            margin: 0;
            margin-top: 0.7rem;
            height: 3rem;

            & .rodape {
                padding: 0;
                height: 100%;

                & .box-img {

                    & img {
                        width: 1.5rem;
                    }
                }
            }
        }
    }
}



@keyframes logoMovie {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
        box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    }
}