* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



:root {

    --backgEfeiitoBlur: linear-gradient(0deg, rgba(46, 46, 46, 1) 48%, rgb(255, 0, 0) 100%);
    --backgContentCard: linear-gradient(321deg, rgba(41, 41, 41, 1) 48%, rgba(0, 0, 0, 1) 100%);
    --backgFooter: rgba(0, 0, 0, 0.692);

    --colorDescription: rgb(255, 255, 255);
    --colorContentCard: rgb(255, 255, 255);

    --borderCard: solid 1.5px rgb(255, 255, 255);

    --transitionCardHover: 0.5s ease;
    --transitionCardImgHover: 0.5s ease-in-out;
    --transitionFooterImg: 0.5s ease;

    --transformCardHover: translateY(-5px) scale(1.02);
    --transformCardImgHover: scale(1.08);
    --transformFooterImg: translateY(-5px) scale(1.1);

    --shadowCardHover: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    --animationLogoHeader: logoMovie 3s infinite ease-in-out;
}


html {
    scroll-behavior: smooth;
}


// REVIEW PC
body {
    padding: 1.5rem;

    .efeito-blur {
        position: fixed;
        inset: 0;
        z-index: -1;
        filter: blur(16px);
        transform: scale(1.2);
        background: var(--backgEfeiitoBlur);
    }


    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        height: 100vh;
        padding: 1rem;
        //border: solid 1px green;

        .box-img {

            img {
                width: 150px;
                border-radius: 50%;
                animation: var(--animationLogoHeader);
            }
        }

        .description {
            text-align: center;
            color: var(--colorDescription);

            .tag {
                opacity: 0.7;
            }
        }

        .box-arrow {
            margin-top: 1rem;
            cursor: pointer;

            img {
                width: 30px;
                animation: arrowMovie 2s ease-in-out infinite;
            }
        }
    }


    section {

        .card-list {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            //border: solid 1px red;

            .card {
                overflow: hidden;
                padding: 0;
                border: var(--borderCard);
                border-radius: 10px;
                transition: var(--transitionCardHover);

                .box-img {
                    width: 100%;
                    height: 10rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        filter: brightness(90%);
                        transition: var(--transitionCardImgHover);

                        &:hover {
                            transform: var(--transformCardImgHover);
                        }
                    }
                }

                .content {
                    padding: 0.5rem;
                    margin: 0;
                    color: var(--colorContentCard);
                    background: var(--backgContentCard);
                    height: 100%;
                }

                &:hover {
                    transform: var(--transformCardHover);
                    box-shadow: var(--shadowCardHover);
                    cursor: pointer;
                }
            }
        }
    }


    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 7rem;
        border-radius: 20px;
        background: var(--backgFooter);
        margin: 0 auto;
        margin-top: 3rem;

        .redes-socias {
            display: flex;
            gap: 2rem;

            img {
                width: 30px;
                transition: var(--transitionFooterImg);

                &:hover {
                    cursor: pointer;
                    transform: var(--transformFooterImg);
                }
            }
        }
    }
}



// ANIMAÇÃO DA LOGO LOJAS MENDONÇA
@keyframes logoMovie {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
        box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    }
}


// ANIMAÇÃO DA IMG ARROW
@keyframes arrowMovie {
    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: scale(1.2);
    }
}


// REVIEW CELULARES PADRÃO
@media only screen and (max-width: 480px) {


:root {

    --backgEfeiitoBlur: linear-gradient(0deg, rgba(46, 46, 46, 1) 48%, rgb(255, 0, 0) 100%);
    --backgContentCard: linear-gradient(321deg, rgba(41, 41, 41, 1) 48%, rgba(0, 0, 0, 1) 100%);
    --backgFooter: rgba(0, 0, 0, 0.242);

    --colorDescription: rgb(255, 255, 255);
    --colorContentCard: rgb(255, 255, 255);

    --borderCard: solid 1.5px rgb(255, 255, 255);

    --transitionCardHover: 0.5s ease;
    --transitionCardImgHover: 0.5s ease-in-out;
    --transitionFooterImg: 0.5s ease;

    --transformCardHover: translateY(-5px) scale(1.02);
    --transformCardImgHover: scale(1.08);
    --transformFooterImg: translateY(-5px) scale(1.1);

    --shadowCardHover: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    --animationLogoHeader: logoMovie 3s infinite ease-in-out;
}


    body {

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;
            height: 100vh;
            padding: 1rem;
            //border: solid 1px green;

            .box-img {

                img {
                    width: 150px;
                    border-radius: 50%;
                    animation: var(--animationLogoHeader);
                }
            }

            .description {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                text-align: center;
                color: var(--colorDescription);

                .tag {
                    opacity: 0.7;
                    font-size: 0.9rem;
                }

                .title {
                    font-size: 1.5rem;
                }
            }

            .box-arrow {
                margin-top: 1rem;

                img {
                    width: 30px;
                }
            }
        }


        section {

            .card-list {
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
                //border: solid 1px red;

                .card {
                    position: relative;
                    overflow: hidden;
                    padding: 0;
                    border: var(--borderCard);
                    border-radius: 10px;
                    transition: var(--transitionCardHover);

                    .box-img {
                        width: 100%;
                        height: 10rem;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            filter: brightness(90%);
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            transition: var(--transitionCardImgHover);

                            &:hover {
                                transform: var(--transformCardImgHover);
                            }
                        }
                    }

                    .content {
                        position: relative;
                        z-index: -1;
                        top: -5px;
                        padding: 0.5rem;
                        color: var(--colorContentCard);
                        background: var(--backgContentCard);
                        height: 100%;

                        h2 {
                            font-size: 1.3rem;
                        }
                    }

                    &:hover {
                        transform: var(--transformCardHover);
                        box-shadow: var(--shadowCardHover);
                        cursor: pointer;
                    }
                }
            }
        }


        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 4rem;
            border-radius: 20px;
            background: var(--backgFooter);
            margin: 0 auto;
            margin-top: 3rem;

            .redes-socias {
                display: flex;
                gap: 2rem;

                img {
                    width: 30px;
                    transition: var(--transitionFooterImg);

                    &:hover {
                        cursor: pointer;
                        transform: var(--transformFooterImg);
                    }
                }
            }
        }
    }
}