* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url(./img/logo_lojas_mendocas.png.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(50px);

    & main {
        width: 500px;
        height: 600px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border-radius: 10px;

        & header {
            border: solid 1px;
            width: 100%;
            height: 200px;
            position: relative;
            text-align: center;
            border-radius: 10px;

            & .banner{
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            & .logo{
                width: 100px;
                border-radius: 50%;
                position: absolute;
                z-index: 2;
                top: 75%;
                left: 40%;
            }

            & .title {
                position: relative;
                top: 30%;

                & h2 {
                    text-transform: uppercase;
                    color: rgb(255, 255, 255);
                    text-shadow: 4px -1px 0px #000000;;
                }

            }
        }
    }
}